
     <div id="carouselExampleDark" class="carousel carousel-dark carousel-fade pb-2" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            <!-- First Slide -->
            <div class="carousel-item active" data-bs-interval="2000">
                <a href="">  <img src="Images/web-banner_1_.webp" style="width:100%"></a>
                
            </div>

            <!-- Second Slide -->
            <div class="carousel-item" data-bs-interval="2000">
                <a href=""> <img src="Images/banner_2.webp" style="width:100%"></a>
                     </div>

            <!-- Third Slide -->
            <div class="carousel-item" data-bs-interval="2000">
                <a href=""> <img src="Images/web-banner3.webp" style="width:100%"></a>
                  </div>

    
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>


     <!-- <div class="banner-div">
        <img class="banner-img" src="Images/web-banner_1_.webp" alt="">
        <img class="banner-img" src="banner_2.webp" alt="">
        <img class="banner-img" src="web-banner3.webp" alt="">
        <img class="banner-img" src="web-banner4.webp" alt="">
     </div> -->


     <!-- images Section 1 -->
    <div id="main">

        <div id="img1-div">
            <img id="img1" src="Images/img1.webp" alt="">
            <span id="imgtxt" >Unstitched</span>
            <p id="shop">Shop Now</p>
        </div>
        
        <div id="img2-div">
            <img id="img2" src="Images/img2.webp" alt="">
            <span id="imgtxt">Kurti</span>
            <p id="shop">Shop Now</p>
            <img src="Images/img3.webp" alt="">
            <span id="imgtxt">Stitched</span>
            <p id="shop">Shop Now</p>
        </div>

    </div>


    <!-- images Section 2 -->

    <div id="main-div2">
        <div id="img-div3">

            <img id="img4" src="Images/img4.webp" alt="">
            <span id="imgtxt">Kurta</span>
            <p id="shop">Shop Now</p>

            <img id="img4" src="Images/img5.webp" alt="">
            <span id="imgtxt">Waiscoat</span>
            <p id="shop">Shop Now</p>

        </div>

        <div id="img-div4">
            <img id="img6" src="Images/img6.webp" alt="">
            <span id="imgtxt">Kameez Shalwar</span>
            <p id="shop">Shop Now</p>
        </div>
    </div>
    

    <!-- card1 -->
     <div id="card1-main">
        <div id="card1-div">
            <img id="card1" src="Images/card1.webp" alt="">
            <p id="shop-card">Shop Now</p>
        </div>
    </div>

    <!-- Card2 -->
    <div id="card1-main" class="add">
        <div id="card1-div">
            <img id="card1" src="Images/card2.webp" alt="">
            <p id="shop-card">Shop Now</p>
        </div>
    </div>

    <!-- Images Section3 -->
     <div id="txt-div">
        <span id="NA">New Arrivals</span>
        <span id="BandG">Boys & Girls</span>
    </div>

    <div id="maindiv-imgsec3">

        <!-- Image Section3 Div1 -->
        <div id="imgsec3-div1">
            <img id="img7" src="Images/img7.webp" alt="">
            <div id="imgsec3-divtxt1">
                <a id="imgsec3-txt">Teen Girls</a>
                <p id="imgsec3-shop">Shop Now</p>
            </div>
        </div>

     <div id="imgsec3-div23com">
                <!-- Image Section3 Div2 -->
        <div id="imgsec3-div2">

            <div id="img8-div">
                    <img id="img8" src="Images/img8.webp" alt="">
                <div id="imgsec3-divtxt2">
                    <a id="imgsec3-txt">Teen Boys</a>
                    <p id="imgsec3-shop">Shop Now</p>
                </div>
            </div>

            <div id="img9-div">
                    <img id="img9" src="Images/img9.webp" alt="">
                <div id="imgsec3-divtxt3">
                    <a id="imgsec3-txt">Kid Girls</a>
                    <p id="imgsec3-shop">Shop Now</p>
                </div>
            </div>
            
            <div id="img10-div">
                    <img id="img10" src="Images/img10.webp" alt="">
                <div id="imgsec3-divtxt4">
                    <a id="imgsec3-txt">Kid Boys</a>
                    <p id="imgsec3-shop">Shop Now</p>
                </div>
            </div>
        </div>

                <!-- Image Section3 Div3 -->
        <div id="imgsec3-div3">
            <p id="txt-div2">NEW Collection</p>
            <p id="txt-div3">DRESS BRIGHT AND LIVELY</p>
            <p id="txt-div2">WITH J. YOUNGSTERS COLLECTION</p>
        </div> 
         </div>
     </div>

     <!-- Form -->
    

      <!-- Footer -->
     
