<div class="container mt-5">
    <h1 class="text-center">User  Dashboard</h1>
    <div class="mt-4">
    </div>

    <div class="mt-4">
        <h3>Your Wishlist</h3>
        <% if (products.length > 0) { %>
            <ul class="list-group">
                <% products.forEach(product => { %>
                    <li class="list-group-item">
                        <h5><%= product.Description %></h5>
                        <p>Price: $<%= product.Price.toFixed(2) %></p>
                        <img src="/uploads/<%= product.picture %>" alt="<%= product.Description %>" class="img-thumbnail" style="width: 100px;">
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>Your wishlist is empty.</p>
        <% } %>
    </div>
</div>
