<div id="stick">
    <!-- navbar1 -->
    <div class="maindiv-nav">
        <div class="nav1">
            <p class="navbar1-button">WELCOME TO J.</p>
            <p class="navbar1-button">SIGN IN&nbsp;🇵🇰</p>
            <p class="navbar1-button">TRACKING INFO</p>
            <p class="navbar1-button">CORPORATE INQUIRY</p>
            <p class="navbar1-button">PKR</p>
            <select class="select" name="currency" id="currency">
                <option value="PKR">PKR</option>
                <option value="AUD">AUD</option>
                <option value="GBP">GBP</option>
                <option value="EUR">EUR</option>
                <option value="INR">INR</option>
                <option value="SAR">SAR</option>
            </select>
        </div>
        <div class="nav2">
            <div class="cart-wrapper">
                <a href="#" class="cart-icon" onclick="toggleCart(event)">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-count" id="cartCount">0</span>
                </a>
                <div class="cart-dropdown" id="cartDropdown">
                    <div id="cartPreviewContent">
                        <!-- Cart items will be dynamically inserted here -->
                    </div>
                </div>
            </div>
            <i class="icon fa-solid fa-magnifying-glass"></i>
            <input class="search" type="text" placeholder="Search">
        </div>
    </div>


    <!-- logo -->
    <div class=" head-img">
        <img class="logo" src="Images/J.webp" alt="">
    </div>


    <!-- navbar2 -->
    <div id="navbar2">
        <div id="navbar2-btn">NEW ARRIVALS 
            <div id="dropdown1">
                <div id="dropdown-sec-1">
                    <h2 id="item">Featured Collection</h2>
                    <li id="items">Bahrain-Women Unstitched</li>
                    <li id="items">Expression Series All-ages-of-him</li>
                    <li id="items">Matching Separates</li>
                </div>
                <div id="dropdown-sec-1">
                    
                    <h2 id="item-head">Midsummer Collection '24</h2>
                    <li id="items">Unstitched Collection</li>
                    <li id="items">Stitched Collection</li>
                    <li id="items">Kurti Collection</li>
                    <li id="items">Trousers Collection</li>
                    <li id="items">Teen Girls Collection</li>
                    <li id="items">Kid Girls Collection</li>
                </div>
                <div id="dropdown-sec-1">
                    <h2 id="item">Matching Separates</h2>
                    <h2 id="item-head">MEN - Midsummer '24</h2>
                    <li id="items">Kameez Shalwar Collection</li>
                    <li id="items">Kurta Collection</li>
                    <li id="items">Waistcoat Collection</li>
                    <li id="items">Unstitched Collection</li>
                </div>
                <div id="dropdown-sec-1">
                    <h2 id="item-head">Boys &amp; Girls - Tehwar Eid-edit</h2>
                    <li id="items">Teen Girls Collection</li>
                    <li id="items">Teen Boys Collection</li>
                    <li id="items">Kid Girls Collection</li>
                    <li id="items">Kid Boys Collection</li>
                    <li id="items">Infant Girls Collection</li>
                    <li id="items">Infant Girls Collection</li>

                </div>
                <div id="dropdown-sec-1">
                    <img style="height: 280px;" src="Images/dropdown1.webp" alt="">

                </div>


            </div>
        </div>

        <div id="navbar2-btn">
            <img src="Images/crew.svg" style="width: 120px;" alt="">
            <div id="dropdown2">
                <div id="dropdown-sec-2">
                    <h2 id="item-head">MEN</h2>
                    <li id="items">Kameez Shalwar</li>
                    <li id="items">Kurta</li>
                    <li id="items">Trouser</li>
                    <li id="items">Waiscoat</li>
                    <li id="items">Shawl</li>
                    <li id="items">Unstitched</li>
                    <li id="items">Footwear</li>
                </div>
                <div id="dropdown-sec-2">
                    <img id="img-dropdown2" src="Images/dropdown2.webp" alt="">
                </div>
            </div>
        </div>

        <div id="navbar2-btn"><a href="/women">WOMEN</a>
            <div id="dropdown3">
                <div id="dropdown-sec-3">
                    <img style="height: 280px;" src="Images/dropdown3.webp" alt="">
                </div>
                <div id="dropdown-sec-3">
                    <h2 id="item-head">Mama &amp; Me</h2>
                    <h2 id="item-head">Kurti</h2>
                    <li id="items">Formal Kurti</li>
                    <h2 id="item-head">Unstitched</h2>
                    <li id="items">1 Piece</li>
                    <li id="items">2 Piece</li>
                    <li id="items">3 Piece</li>
                    <h2 id="item-head">Stitched</h2>

                </div>
                <div id="dropdown-sec-3">
                    <h2 id="item-head">Formals</h2>
                    <li id="items">Formal Stitched</li>
                    <li id="items">Formal Untitched</li>
                    <h2 id="item">Matching Separates</h2>
                    <h2 id="item-head">Neerang-Handwoven</h2>
                    <h2 id="item-head">Modest Wear(Abaya)</h2>
                    <h2 id="item-head">Saree</h2>
                    <h2 id="item-head">Stoles-Shawls</h2>
                </div>
                <div id="dropdown-sec-3">
                    <h2 id="item-head">Bottom Wears</h2>
                    <h2 id="item-head">Prayer Mats</h2>
                    <h2 id="item-head">Bags</h2>
                    <h2 id="item-head">Jewellery</h2>
                    <h2 id="item-head">Footwear</h2>
                    <h2 id="item-head">Monochrome</h2>
                </div>
            </div>
        </div>
        <div id="navbar2-btn"><a href="/men">MEN</a>
            <div id="dropdown4">
                <div id="dropdown-sec-4">
                    <img style="height: 300px;" src="Images/dropdown4.webp" alt="">
                </div>
                <div id="dropdown-sec-4">
                    <h2 id="item-head">Kurta Pajama</h2>
                    <h2 id="item-head">Kamez Shalwar</h2>
                    <li id="items">Casual</li>
                    <li id="items">Semi-Formal</li>
                    <li id="items">Formal</li>
                    <li id="items">Exclusive</li>
                    <h2 id="item-head">Kurta</h2>
                    <li id="items">Casual</li>
                    <li id="items">Semi-Formal</li>
                    <li id="items">Formal</li>
                    <li id="items">Formal Kurta</li>

                </div>
                <div id="dropdown-sec-4">
                    <h2 id="item-head">Like Father Like Son</h2>
                    <h2 id="item-head">Caps</h2>
                    <h2 id="item-head">Waiscoat</h2>
                    <h2 id="item-head">Pocket Square</h2>
                    <h2 id="item-head">Unstitched Fabric</h2>
                    <li id="items">Platinum Class</li>
                    <li id="items">Gold Class</li>
                    <li id="items">Silver Class</li>
                    <li id="items">Boski</li>
                    <li id="items">Latha</li>

                </div>
                <!-- <div id="dropdown-sec-4">
                    <h2 id="item-head" >Bottom</h2>
                    <h2 id="item-head" >Footwear</h2>
                    <li id="items">Embroidered</li>
                    <li id="items">Trendy</li>
                    <h2 id="item-head" >Underwear</h2>
                    <li id="items">Modal</li>
                    <li id="items">Cotton</li>

                </div> -->
                
                <div id="dropdown-sec-4">
                    <h2 id="item-head">Groom's Collection</h2>
                    <li id="items">Sherwani</li>
                    <li id="items">Turban</li>
                    <h2 id="item-head">Underwear</h2>
                    <li id="items">Khussa</li>
                    <li id="items">Special Kurta</li>
                    <li id="items">Teen Boys</li>
                    <li id="items">Kid Boys</li>

                </div>
            </div>
        </div>
        <div id="navbar2-btn">BOYS &amp; GIRLS
            <div id="dropdown5">
                <div id="dropdown-sec-5">
                    <h2 id="item-head">Teen Girls</h2>
                    <li id="items">Stitched Collection</li>
                    <li id="items">Formal</li>
                    <li id="items">Kurti</li>
                    <li id="items">Trousers</li>

                </div>
                <div id="dropdown-sec-5">
                    <h2 id="item-head">Teen Boys</h2>
                    <li id="items">Kameez Shalwar</li>
                    <li id="items">Kurta</li>

                </div>
                <div id="dropdown-sec-5">
                    <h2 id="item-head">Kid Girls</h2>
                    <li id="items">Stitched Collection</li>
                    <li id="items">Formal</li>
                    <li id="items">Kurti</li>
                    <li id="items">Trousers</li>
                    <li id="items">Footwear</li>
                    <li id="items">Jewellery</li>

                </div>
                <div id="dropdown-sec-5">
                    <h2 id="item-head">Kid Boys</h2>
                    <li id="items">Kameez Shalwar</li>
                    <li id="items">Kurta</li>
                    <li id="items">Kids Bottom</li>
                </div>
                <div id="dropdown-sec-5">
                    <h2 id="item-head">Infant</h2>
                    <li id="items">Infant Boys</li>
                    <li id="items">Infant Girls</li>
                    <li id="items">Kids Bottom</li>
                </div>
            </div>
        </div>
        <div id="navbar2-btn">FRAGRANCES
            <div id="dropdown6">
                <div id="dropdown-sec-6">
                 <img style="height: 300px;" src="Images/dropdown6.webp" alt="">
                </div>
                <div id="dropdown-sec-6">
                    <h2 id="item-head">For Men</h2>
                    <li id="items">Perfume</li>
                    <li id="items">Attar</li>
                    <li id="items">Body Spray</li>
                    <li id="items">Beard Oil</li>
                </div>
                <div id="dropdown-sec-6">
                    <h2 id="item-head">For Women</h2>
                    <li id="items">Perfume</li>
                    <li id="items">Gift Set</li>
                    <li id="items">Body Spray</li>
                </div>
                <div id="dropdown-sec-6">
                    <h2 id="item-head">Other</h2>
                    <li id="items">Reed DIffuser</li>
                </div>
            </div>
        </div>
        <div id="navbar2-btn">MAKEUP
            <div id="dropdown7">
                <div id="dropdown-sec-7">
                    <h2 id="item-head">Face</h2>
                    <li id="items">Blusher</li>
                    <li id="items">Cream &amp; Foundation</li>
                    <li id="items">Powder</li>
                    <li id="items">Other</li>
                </div>
                <div id="dropdown-sec-7">
                    <h2 id="item-head">Eyes</h2>
                    <li id="items">Eye Liner</li>
                    <li id="items">Eye Pencil</li>
                    <li id="items">Eye Shadow</li>
                </div>
                <div id="dropdown-sec-7">
                    <h2 id="item-head">Lips</h2>
                    <li id="items">Lip Stick</li>
                    <li id="items">Lip Gloss</li>
                    <li id="items">Other</li>
                </div>
                <div id="dropdown-sec-7">
                   <img id="img-dropdown7" src="Images/dropdown7.webp" alt="">
                </div>
            </div>
        </div>
        <div id="navbar2-btn"><a href="/admin/login">Admin</a></div>
        
    </div>
    <p class="p">&nbsp;</p>
</div>

<style>
    .cart-wrapper {
        position: relative;
    }

    .cart-icon {
        position: relative;
        font-size: 24px;
        color: #333;
        text-decoration: none;
    }

    .cart-count {
        position: absolute;
        top: -10px;
        right: -10px;
        background: #e67e22;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 12px;
    }

    .cart-dropdown {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        width: 300px;
        background: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        z-index: 1000;
        padding: 15px;
    }

    .cart-dropdown.show {
        display: block;
    }

    .cart-preview-item {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }

    .cart-preview-item img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 10px;
    }

    .cart-preview-total {
        margin-top: 10px;
        text-align: right;
        font-weight: bold;
    }

    .view-cart-button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #e67e22;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
    }

    .empty-cart-message {
        padding: 20px;
        text-align: center;
        color: #666;
    }
</style>

<script>
let cartVisible = false;

function toggleCart(event) {
    event.preventDefault();
    cartVisible = !cartVisible;
    const dropdown = document.getElementById('cartDropdown');
    if (cartVisible) {
        updateCartPreview();
        dropdown.classList.add('show');
    } else {
        dropdown.classList.remove('show');
    }
}

// Close cart dropdown when clicking outside
document.addEventListener('click', function(event) {
    const cartWrapper = document.querySelector('.cart-wrapper');
    if (!cartWrapper.contains(event.target)) {
        document.getElementById('cartDropdown').classList.remove('show');
        cartVisible = false;
    }
});

async function updateCartPreview() {
    try {
        const response = await fetch('/cart/preview');
        const data = await response.json();
        const cartPreviewContent = document.getElementById('cartPreviewContent');
        
        if (data.products.length === 0) {
            cartPreviewContent.innerHTML = `
                <div class="empty-cart-message">
                    Your cart is empty
                </div>`;
            return;
        }

        let html = '';
        data.products.forEach(product => {
            html += `
                <div class="cart-preview-item">
                    <img src="/${product.picture}" alt="${product.Description}">
                    <div>
                        <div>${product.Description}</div>
                        <div>$${product.Price}</div>
                    </div>
                </div>`;
        });

        html += `
            <div class="cart-preview-total">
                Total: $${data.total}
            </div>
            <a href="/cart" class="view-cart-button">View Cart</a>`;

        cartPreviewContent.innerHTML = html;
    } catch (error) {
        console.error('Error updating cart preview:', error);
    }
}

// Update cart count on page load
window.onload = function() {
    updateCartCount();
}

async function updateCartCount() {
    try {
        const response = await fetch('/cart/count');
        const data = await response.json();
        document.getElementById('cartCount').textContent = data.count;
    } catch (error) {
        console.error('Error updating cart count:', error);
    }
}
</script>